*

!.gitignore
!srcs
!libs
!includes
!minilibx-linux

!srcs/init_setting/
!srcs/mlx_helper/
!srcs/vector_matrix/
!srcs/raytracing/



!*.c
!*.h
!Makefile

!README.md
!Makefile.gen

!playground
playground/a.out
playground/*strtod_*

!img
!*.ppm
!*.xpm

!scenes
!*.rt
!*.md

.idea/
objs/
libs/.idea